<Layouts.flash_group flash={@flash} />

<%= if @did == nil do %>
  <.link href={~p"/login"}>Login</.link>
<% end %>

<h1>Comet is the next-generation of music streaming.</h1>
<p>Powered by the AT Protocol, we're putting the power back in the hands of musicians.</p>

<%= if @did do %>
  <p>Hello {@did}</p>
<% end %>
