{
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "proseWrap": "always",
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
