services:
  postgres:
    image: postgres:17-alpine
    restart: unless-stopped
    ports:
      - 127.0.0.1:5432:5432
    environment:
      POSTGRES_DB: comet_dev
      POSTGRES_USER: comet
      POSTGRES_PASSWORD: comet
    volumes:
      - postgres:/var/lib/postgresql/data
  tap:
    image: "ghcr.io/bluesky-social/indigo/tap"
    restart: "unless-stopped"
    ports:
      - "127.0.0.1:2480:2480"
    volumes:
      - "tap:/data"
    # environment:
    # TAP_SIGNAL_COLLECTION: "sh.weaver.actor.profile"
    # TAP_COLLECTION_FILTERS: "sh.weaver.*"

volumes:
  postgres:
  tap:
